body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  background-color: rgb(32, 130, 137);
}

ul li {
  float:left ;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: red;
  transform: scale(1.3);
}
.flex-container {
  flex-wrap: wrap;
  display: flex;
  margin-top: 50px
  transform: scale(1.3);
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

@media screen and (min-width: 480px) {
  body {
    background-color: rgb(red, green, blue);
  }